body {
  background: linear-gradient(135deg, #141e30, #243b55);
}

.chat-container {
  width: 400px;
  background: white;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
}

.chat-box {
  height: 280px;
  overflow-y: auto;
  background: #f5f5f5;
  padding: 10px;
  margin: 10px 0;
}

.message {
  margin-bottom: 8px;
}

.time {
  font-size: 10px;
  float: right;
  color: gray;
}

.input-area {
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  background: #1f3c88;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
